{% extends "app/layout.html" %}

{% block content %}


<div class="short_story">
    <h2>{{ title }}.</h2>
    <div class="story">
        <p>
            Привет незнакомец! Как я вижу тебя заинтересовали настольные игры, хехе.
            Ты по адресу! Ведь мы, PicniC, являемся одним из ведущих магазинов страны.<br />
            Все началось с небольшого клуба в стенах ПсковГу... За 3 года мы развились в что-то настолько болшое,
            что университет уже не мог нас вместить в полнйо мере!<br /> Мы начали проводить фестивали, открывали свои двери всему городу, но...
            Все это было на добровольной основе. Мы не просили денег за вход, а игры покупались за собственный счет.
            И вот мы основали магазин-клуб, на сайте которого ты сейчас и находишься.
        </p>
    </div>
</div>
{% endblock %}
